{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Vigilant Exodus</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon/map-marker.png" %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body style="background-color: lightgray">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Vigilant Exodus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'camps_map' %}">Dashboard</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'checkin' %}">Check-In</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'missingperson' %}">Find People</a>
                        </li>

                    </ul>
        </div>
    </nav>

    <div style="padding: 50px;">
{% if bool == "checkinonly" %}
    <h1> You have Successfully Checked in !</h1>

    {% elif bool == "missingperson" %}
    <h1>We have registered your missing person report and will notify you as soon as we have a lead.</h1>

{% else %}
    {% if bool == "false" %}
        <h3>
       {{ person_info.name }} has checked in at Camp: {{ person_info.camp }}. <br>
       You can contact him/her on {{ person_info.phone  }}.</h3>
    {% else %}
      <h3> {{ person_info.emergencyName }} is looking for you. We have sent a message to notify them of your arrival.
        You can contact him/her on {{ person_info.emergencyPhone }}.</h3>
    {% endif %}
{% endif %}</div>
</body>
</html>